<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zip.zipandroid">


    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".ZipApplication"
        android:allowBackup="true"
        android:icon="@drawable/zip_app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/net_work_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/zip_app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZipAndroid"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ZipMainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTask">

        </activity>

        <activity
            android:name=".activity.ZipSplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ZipLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.ZipWebActivity"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ZipAboutUsActivity"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ZipCouponActivity"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ZipVersionInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ZipCustomServiceActivity"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ZipPersonInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".activity.ZipWorkInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".activity.ZipContractActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".activity.ZipQuestionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".activity.ZipBandCardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".activity.PayOrderDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>


        <activity
            android:name=".activity.ZipPerActivity"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ZipOrderNextActivity"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ZipSureOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ZipOrderReviewActivity"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ZipOrderDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.ZipCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"></activity>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_filepath" />
        </provider>

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="735" />
    </application>

    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />


    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <!--    <uses-permission android:name="android.permission.READ_CONTACTS" />-->
    <!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

</manifest>